# Unity
*.cginc   text
*.cs      diff=csharp text
*.shader  text

# Unity YAML
*.mat merge=unityyamlmerge eol=lf
*.anim merge=unityyamlmerge eol=lf
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.physicMaterial2D merge=unityyamlmerge eol=lf
*.physicMaterial merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf
# Unity LFS
*.cubemap         diff=lfs merge=lfs -text
*.unitypackage    diff=lfs merge=lfs -text
## 3D models
*.3dm   diff=lfs merge=lfs -text
*.3ds   diff=lfs merge=lfs -text
*.blend   diff=lfs merge=lfs -text
*.c4d   diff=lfs merge=lfs -text
*.collada   diff=lfs merge=lfs -text
*.dae   diff=lfs merge=lfs -text
*.dxf   diff=lfs merge=lfs -text
*.fbx   diff=lfs merge=lfs -text
*.jas   diff=lfs merge=lfs -text
*.lws   diff=lfs merge=lfs -text
*.lxo   diff=lfs merge=lfs -text
*.ma   diff=lfs merge=lfs -text
*.max   diff=lfs merge=lfs -text
*.mb   diff=lfs merge=lfs -text
*.obj   diff=lfs merge=lfs -text
*.ply   diff=lfs merge=lfs -text
*.skp   diff=lfs merge=lfs -text
*.stl   diff=lfs merge=lfs -text
*.ztl   diff=lfs merge=lfs -text
## Audio
*.aif   diff=lfs merge=lfs -text
*.aiff   diff=lfs merge=lfs -text
*.it   diff=lfs merge=lfs -text
*.mod   diff=lfs merge=lfs -text
*.mp3   diff=lfs merge=lfs -text
*.ogg   diff=lfs merge=lfs -text
*.s3m   diff=lfs merge=lfs -text
*.wav   diff=lfs merge=lfs -text
*.xm   diff=lfs merge=lfs -text
# Video
*.asf     diff=lfs merge=lfs -text
*.avi     diff=lfs merge=lfs -text
*.flv     diff=lfs merge=lfs -text
*.mov     diff=lfs merge=lfs -text
*.mp4     diff=lfs merge=lfs -text
*.mpeg    diff=lfs merge=lfs -text
*.mpg     diff=lfs merge=lfs -text
*.ogv     diff=lfs merge=lfs -text
*.wmv     diff=lfs merge=lfs -text
## Images
*.bmp   diff=lfs merge=lfs -text
*.exr   diff=lfs merge=lfs -text
*.gif   diff=lfs merge=lfs -text
*.hdr   diff=lfs merge=lfs -text
*.iff   diff=lfs merge=lfs -text
*.jpeg   diff=lfs merge=lfs -text
*.jpg   diff=lfs merge=lfs -text
*.pict   diff=lfs merge=lfs -text
*.png   diff=lfs merge=lfs -text
*.psd   diff=lfs merge=lfs -text
*.tga   diff=lfs merge=lfs -text
*.tif   diff=lfs merge=lfs -text
*.tiff   diff=lfs merge=lfs -text
# Compressed Archive
*.7z     diff=lfs merge=lfs -text
*.bz2    diff=lfs merge=lfs -text
*.gz     diff=lfs merge=lfs -text
*.rar    diff=lfs merge=lfs -text
*.tar    diff=lfs merge=lfs -text
*.zip    diff=lfs merge=lfs -text
# Compiled Dynamic Library
*.dll    diff=lfs merge=lfs -text
*.pdb    diff=lfs merge=lfs -text
*.so     diff=lfs merge=lfs -text
## Fonts
*.otf   diff=lfs merge=lfs -text
*.ttf   diff=lfs merge=lfs -text
# Executable/Installer
*.apk    diff=lfs merge=lfs -text
*.exe    diff=lfs merge=lfs -text
# Documents
*.pdf    diff=lfs merge=lfs -text
## Collapse Unity-generated files on GitHub
*.asset linguist-generated
*.mat linguist-generated
*.meta linguist-generated
*.prefab linguist-generated
*.unity linguist-generated
*.gitignore   diff=lfs merge=lfs -text
*.meta   diff=lfs merge=lfs -text
*.controller   diff=lfs merge=lfs -text
*.mat   diff=lfs merge=lfs -text
*.physicMaterial   diff=lfs merge=lfs -text
*.asset   diff=lfs merge=lfs -text
*.XML   diff=lfs merge=lfs -text
*.dll   diff=lfs merge=lfs -text
*.mdb   diff=lfs merge=lfs -text
*.cs   diff=lfs merge=lfs -text
*.txt   diff=lfs merge=lfs -text
*.pdf   diff=lfs merge=lfs -text
*.shader   diff=lfs merge=lfs -text
*.cginc   diff=lfs merge=lfs -text
*.json   diff=lfs merge=lfs -text
*.prefab   diff=lfs merge=lfs -text
*.unity   diff=lfs merge=lfs -text
*.log   diff=lfs merge=lfs -text
*.md   diff=lfs merge=lfs -text
--everything !text !filter !merge !diff
